In [1]:
import pandas as pd

In [2]:
ESD_project = pd.read_csv(r"C:\Users\user\Downloads\Ecommerce_Sales_Data_2024_2025.csv")

In [10]:
# Load and clean dataset.

df = pd.DataFrame(ESD_project)

''' Check the missing value '''
print("\nMissing values:")
print(df.isnull().sum())

''' Remove duplicates '''
df.drop_duplicates(inplace=True)

Missing values:
Order_ID         0
Order_Date       0
Customer_Name    0
Region           0
City             0
Category         0
Sub_Category     0
Product_Name     0
Quantity         0
Unit_Price       0
Discount         0
Sales            0
Profit           0
Payment_Mode     0
dtype: int64

In [28]:
# Seasonal sales trends.

df['Order_Date'] = pd.to_datetime(df['Order_Date'])
def get_season(month):
    if month in [11,12,1,2]:
        return "Winter"
    elif month in [3,4,5,6]:
        return "Summer"
    elif month in [7,8,9,10]:
        return "Monsoon"
    else:
        return "No Season"

df['season'] = df['Order_Date'].dt.month.apply(get_season)
df['Sales'] = pd.to_numeric(df['Sales'],errors='coerce')
seasonal_sales = df.groupby('season')
df[['Sales']].sum().sort_values(ascending=False)
print(seasonal_sales)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000023FC2A83230>

In [32]:
# Group sales by customer/product/category.

df.groupby('Customer_Name')['Sales'].sum().reset_index()
df.groupby('Product_Name')['Sales'].sum().reset_index()
df.groupby('Category')['Sales'].sum().reset_index()

      Category        Sales
0       Beauty  50803409.70
1        Books  54932643.00
2     Clothing  55053908.30
3  Electronics  52587883.95
4    Furniture  56647187.90
5    Groceries  47883103.15
6   Home Decor  57233222.35
7      Kitchen  54227902.30
8       Sports  52069397.25
9         Toys  52227366.45

In [37]:
# Calculate ARPU and customer lifetime value.

ARPU = df['Sales'].sum()/df['Customer_Name'].nunique()

'''Total revenue per customer'''
customer_revenue = df.groupby('Customer_Name')['Sales'].sum()

'''Average order frequency per customer'''
customer_orders = df.groupby('Customer_Name')['Order_ID'].nunique()

'''Average profit margin per customer'''
customer_profit = df.groupby('Customer_Name')['Profit'].sum()

'''Customer Lifetime Value'''
CLV = pd.DataFrame({
    'Total_revenue':customer_revenue,
    'Orders':customer_orders,
    'Profit':customer_profit
})

CLV['CLV'] = CLV['Profit']

In [39]:
# Identify frequent product combinations.

basket = df.groupby('Order_ID')['Product_Name'].apply(list)

from itertools import combinations
from collections import Counter

pair_counts = Counter()

for Products in basket:
    for combo in combinations(sorted(Products),2):
        pair_counts[combo] += 1

pair_counts.most_common(10)

[]

In [42]:
# Geographic sales trends analysis.

# By Region
df.groupby('Region')['Sales'].sum().reset_index()

# By city
df.groupby('City')['Sales'].sum().reset_index()

# By Category and Region
df.groupby(['Region','Category'])['Sales'].sum().reset_index()

   Region     Category        Sales
0    East       Beauty  12790403.80
1    East        Books  14173354.80
2    East     Clothing  13684994.15
3    East  Electronics  15165897.55
4    East    Furniture  13090179.45
5    East    Groceries  12088346.60
6    East   Home Decor  15589662.00
7    East      Kitchen  12724395.80
8    East       Sports  12964689.30
9    East         Toys  13539714.50
10  North       Beauty  13984910.85
11  North        Books  15441895.30
12  North     Clothing  15930578.90
13  North  Electronics  14439593.55
14  North    Furniture  15085776.75
15  North    Groceries  14357007.65
16  North   Home Decor  17286752.95
17  North      Kitchen  10781078.15
18  North       Sports  13754083.95
19  North         Toys  12516568.05
20  South       Beauty  12292234.10
21  South        Books  12948754.30
22  South     Clothing  13261557.80
23  South  Electronics  11880847.80
24  South    Furniture  11575306.65
25  South    Groceries   9931549.50
26  South   Home Decor  12083972.05
27  South      Kitchen  13399212.00
28  South       Sports  12687812.90
29  South         Toys  13168919.85
30   West       Beauty  11735860.95
31   West        Books  12368638.60
32   West     Clothing  12176777.45
33   West  Electronics  11101545.05
34   West    Furniture  16895925.05
35   West    Groceries  11506199.40
36   West   Home Decor  12272835.35
37   West      Kitchen  17323216.35
38   West       Sports  12662811.10
39   West         Toys  13002164.05